/BeDeprecated
/challenge
/ToDo
/develop
__pycache__
*.pyc
.DS_Store
/app/test_data
/app/sdk/java/target
/app/release/asv-api/requirements-cached
*.onnx
*.gz
/app/release
*.rdb
/app/api/downloads
/app/data
/app/pytorch_weights
/app/test
/app/model_data
